@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	background: linear-gradient(-45deg, #1282A2, #034078, #001F54, #0A1128);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 111vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


* {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

table {
    padding: 50px;
}

/* html {
    width: 500px;
    height: 99vh;
    text-align: center;
} */

img {
    padding-top: 300px;
    width: 400px;
}

li {
    background: rgba(29, 25, 25, 0.5);
    color: #fff;
    /* padding: 0 20px; */
    font-size: 20px;
    list-style-type: decimal;
}

h1 {
    text-align: center;
    padding-left: 400px;
    color: white;
}

.container {
    display: flex;
}
.tables {
    flex: 3;
}
.image {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 400px;
    height: auto;
}
.elkeszites {
    margin-top: 20px;
}

a {
    display: inline-block;
    margin-top: -300px;
}

h2 {
    color: white;
}

#pulsz {
    margin-left: 50px;
    width: 400px;
}

#palcs {
    width: 400px;
}

#fejlec {
    background: linear-gradient(270deg, #8B4513 , #D2691E , #FFD700, #B22222 );
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

img{
    transition: 1s ease;
    }
    
    img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    }